<div class="card">
  <div class="card-header bg-primary text-white">
    LISTA DE VEHICULOS
  </div>

  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca" [(ngModel)]="filtro">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        Filtrado por: <span class="fw-bold">{{filtro}}</span>
      </div>
    </div>
    <br>
    <div class="row mb-3">
      <div class="col">
        <a [routerLink]="['/vehiculo']" class="btn btn-outline-info">NUEVO</a>
      </div>
    </div>
     <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th>
                <button class="btn btn-success btn-sm" (click)="mostrar()">
                  <i class="bi bi-eye{{mostrarImagen ? '-slash' : ''}}"></i> {{mostrarImagen ? 'Ocultar':'Mostrar'}} Imagen
                </button>
              </th>
              <th>Código</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Año</th>
              <th>Kilometraje</th>
              <th>Precio</th>
              <th>Calificación</th>
              <th>Creado por:</th>
              <th colspan="2">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaVehiculos">
              <td><img [src]="item.foto" *ngIf="this.mostrarImagen"></td>
              <td>
                <a [routerLink]="['/vehiculo/'+item.codigo]">{{item.codigo}}</a>
              </td>
              <td>{{item.marca}}</td>
              <td>{{item.modelo  |lowercase |aEspacio:'-'}}</td>
              <td [innerText]="item.anio"></td>
              <td>{{item.kilometraje}}</td>
              <td>{{item.precio |currency}}</td>
              <td>
                <app-calificacion [calificacion]="item.calificacion || 0" (accionClick)="recepcion($event)"></app-calificacion>
              </td>
              <td>{{item.usuario}}</td>
              <td>
                <button (click)="editarVehiculo(item.codigo)" class="btn btn-warning btn-sm">
                  <i class="bi bi-pencil-square"></i> Editar
                </button>
              </td>
              <td>
                <button (click)="eliminarVehiculo(item.codigo)" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginaActual === 1">
          <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="cambiarPagina(paginaActual - 1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let num of getArrayDePaginas()" [class.active]="paginaActual === num">
          <a class="page-link" href="javascript:void(0)" (click)="cambiarPagina(num)">{{ num }}</a>
        </li>
        <li class="page-item" [class.disabled]="paginaActual === numeroPaginas">
          <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="cambiarPagina(paginaActual + 1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>


  </div>
</div>
