<div class="card">
  <div class="card-header bg-primary text-white">
    LISTA DE VEHICULOS
  </div>

  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca" [(ngModel)]="filtro">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        Filtrado por: <span class="fw-bold">{{filtro}}</span>
      </div>
    </div>
    <br>
    <div class="row mb-3">
      <div class="col">
        <a [routerLink]="['/vehiculo']" class="btn btn-outline-info">NUEVO</a>
      </div>
    </div>
     <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th>
                <button class="btn btn-success btn-sm" (click)="mostrar()">
                  <i class="bi bi-eye{{mostrarImagen ? '-slash' : ''}}"></i> {{mostrarImagen ? 'Ocultar':'Mostrar'}} Imagen
                </button>
              </th>
              <th>CODIGO</th>
              <th>MARCA</th>
              <th>MODELO</th>
              <th>AÑO</th>
              <th>COLOR</th>
              <th>KILOMETRAJE</th>
              <th>PRECIO</th>
              <th>CALIFICACION</th>
              <th colspan="2">OPCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaVehiculos">
              <td><img [src]="item.foto" *ngIf="this.mostrarImagen"></td>
              <td>
                <a [routerLink]="['/vehiculo/'+item.codigo]">{{item.codigo}}</a>
              </td>
              <td>{{item.marca}}</td>
              <td>{{item.modelo  |lowercase |aEspacio:'-'}}</td>
              <td [innerText]="item.anio"></td>
              <td>{{item.color}}</td>
              <td>{{item.kilometraje}}</td>
              <td>{{item.precio |currency}}</td>
              <td>
                <app-calificacion [calificacion]="item.calificacion" (accionClick)="recepcion($event)"></app-calificacion>
              </td>
              <td>
                <button (click)="editarVehiculo(item.codigo)" class="btn btn-warning btn-sm">
                  <i class="bi bi-pencil-square"></i> Editar
                </button>
              </td>
              <td>
                <button (click)="eliminarVehiculo(item.codigo)" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>


  </div>
</div>
