<div class="card">
  <div class="card-header">
   REGISTRO DE NUEVO VEHICULO
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-12">
        <form [formGroup]="formulario">
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Codigo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo" >

          </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Marca:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca" >
          </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Modelo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo" >
          </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Color:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="color" formControlName="color" >
          </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Año:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="anio" formControlName="anio" >
          </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Kilometraje:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje">
          </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Precio:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="staticCodigo" name="precio" formControlName="precio">
          </div>
          </div>


          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Calificacion:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion" >
          </div>
          </div>
        </form>
      </div>
   </div>
   <br>
   <div class="row">
    <div class="col-2">
      <button class="btn btn-info" (click)="guardar()">GUARDAR</button>
    </div>
    <br>
   </div>
  </div>
</div>
